<% include ../partials/header %>

<h1>LOGIN</h1>

<form action="/login" method="POST">
    <input name="username" type="text" placeholder="Name">
    <input name="password" type="password" placeholder="password">
    <button>Login</button>
</form>

<% include ../partials/footer %>