<% include ../partials/header %>
<div class="container" style="width:30%">
    <h1 style="text-align:center">Edit your comment :</h1>
        <form action="/campgrounds/<%=campground_id%>/comment/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input type="text" name="comment[text]" class="form-control" value=<%= comment.text %>>
            </div>
                <button class="btn btn-primary" >Edit</button>
        </form>
    <a href="/">Go Back</a>
</div>

<% include ../partials/footer %>