<% include ../partials/header %>
<div class="container">
  <header class="jumbotron">
    <h1>Here are your campgrounds</h1>
    <p>the best camp on the freaking world!</p>
    <a class="btn btn-primary btn-lg" href="/campgrounds/new">add a camp</a>
  </header>

 <div class="row text-center" style="display:flex; flex-wrap:wrap">
    <% campground.forEach(function(camp){ %>
        <p>
          <div class="col-md-3 col-sm-6">
           
               <div class="thumbnail">
                  <img src="<%= camp.image %>">
                  <div class="caption">
                     <strong><%= camp.name %></strong> 
                  </div>
                  <div>
                      <a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">See More</a>
                  </div>
               </div>     
          </div>
        </p>
    <% }); %>
  </div> 
</div>    



<% include ../partials/footer %>